@use "global" as *;

/* キャンパス設定 */
.box {
  width: 500px;
  height: 1000px;
  margin: 0 auto;
  //   margin: calc(50vh - 150px) auto;
  border-radius: 5px;
  box-shadow: 0 2px 30px #999;
  background: #fff;
  position: relative;
  overflow: hidden;
}
